:root{
    --bg-color: #f5f5f5;
    --text-color: #333;
    --primary-color: #007BFF;
    --accent-color: #28a745;
    --delete-color: red;
}

body.dark-theme{
    --bg-color: #1e1e1e;
    --text-color: #f5f5f5;
    --primary-color: #4e9af1;
    --accent-color: #3fcf7f;
    --delete-color: #ff4d4d;
}

body{
    font-family: Arial, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

header{
    background: var(--primary-color);
    color: white;
    padding: 1em;
    position: relative;
}

#themeToggle{
    background: transparent;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-top: 20px;
    margin-right: 80px;
}

#themeToggle:hover {
    background: rgb(64, 63, 63);
}

#themeToggle svg {
    width: 24px;
    height: 24px;
    stroke: currentColor;
}

.todo-input{
    margin: 20px;
}

input{
    padding: 0.6em;
    width: 60%;
    border-radius: 5px;
    border: none;
    font-size: medium;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input:hover{
    background-color: #fef6f6;
    transition: 0.5s;
}

button{
    padding: 0.8em 1em;
    margin-left: 5px;
    background: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 5px;
}

button:hover{
    filter: brightness(1.1);
}

ul{
    list-style: none;
    padding: 0;
    max-width: 500px;
    margin: auto;
}

li{
    background: var(--bg-color);
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    animation: fadeIn 0.4s ease-in-out;
}

li.completed{
    text-decoration: line-through;
    color: gray;
}

.delete-btn{
    background: var(--delete-color);
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.delete-btn:hover{
    filter: brightness(0.8);
}

@keyframes fadeIn{
    from { opacity: 0; transform: translateY(-5px);}
    to{opacity: 1; transform: translateY(0);}
}

.sr-only{
    position: absolute;
    left: -9999px;
}

@media ( max-width: 600px){
    input{
        width: 50%;
    }
    li{
        flex-direction: column;
        align-items: flex-start;
    }
}